.navbar {
    height: 100%;
    weight: 100px;
    background-color: lightgray;
    box-shadow: 2px 2px 4px gray;
    position: fixed;
    align-items: center;
    padding: 10px 15px
}

.navbar__btns {
    margin-top: 10px;
    display: flex;
}

.navbar__btns_item  {
    list-style-type: none;
    box-shadow: 2px 2px 4px gray;
    margin-top: 20px;
    margin-left: -6px;
    margin-bottom: 10px;
}

.navbar__btns_item:hover  {
    background: #808786;
}
